.Header {
  display: grid;
  place-items: center;
  margin: 0;
  background: #917c5eff;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 6px #0003;
}

.Header__title {
  margin: 0;
  background: #917c5eff;
  font-size: 200%;
  font-weight: 500;
  color: #eee;
}
